# Windowing Summary
* 72kb: Chr12: 40759001-40831000 
* 742kb: Chr12: 40272001-41014000

In [1]:
# Import packages.
import analysis_functions as af
import numpy as np
import pandas as pd
# Print version numbers.
print('numpy', np.__version__)
print('pandas', pd.__version__)

numpy 1.22.3
pandas 1.4.2

In [2]:
# Intialize an archaic list.
arc_list = ['ALT', 'CHA', 'VIN', 'DEN']

## All Archaic Datasets

### Without Ancestral Allele Calls (72kb)

In [3]:
# Load the non-overlapping windows.
arc_var_df = af.load_windows('arcs_masked_no_aa', 'variant', 72)
arc_invar_df = af.load_windows('arcs_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
arc_winds_df = pd.concat([arc_var_df, arc_invar_df])
# Compute the mean and standard deviation per archaic.
arc_esl_winds_avg = np.mean(arc_winds_df[arc_list].to_numpy(), axis=0)
arc_esl_winds_std = np.std(arc_winds_df[arc_list].to_numpy(), axis=0)
print('AVG', arc_esl_winds_avg)
print('STD', arc_esl_winds_std)
# Extract the average effective sequence length per window.
arc_var_esl_winds = np.all(
    (arc_var_df[arc_list].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std))\
    & (arc_var_df[arc_list].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)), 
    axis=1,
)
arc_invar_esl_winds = np.all(
    (arc_invar_df[arc_list].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std))\
    & (arc_invar_df[arc_list].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)), 
    axis=1,
)
# Determine the indicies that meet the esl criteria.
arc_var_esl_qc_idx = np.where(arc_var_esl_winds)[0]
arc_invar_esl_qc_idx = np.where(arc_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', arc_var_esl_qc_idx.size)
print('INVAR', arc_invar_esl_qc_idx.size)
print('TOTAL', (arc_var_esl_qc_idx.size + arc_invar_esl_qc_idx.size))

AVG [44891.52244102 44282.52509548 44793.36022102 44650.44573255]
STD [10489.63266445 10410.90108903 10466.64055609 10449.05907335]
VAR 29504
INVAR 0
TOTAL 29504

In [4]:
# Subset out the windows that did not pass QC.
arc_var_qced_df = arc_var_df.iloc[arc_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_var_qced_df.groupby(['CHR'])[arc_list].agg(['count', 'mean', 'std'])

      ALT                              CHA                              VIN  \
    count          mean          std count          mean          std count
CHR
1    2382  46263.896725  5211.981236  2382  45604.151553  5240.345510  2382
2    2676  47210.172646  4890.382692  2676  46615.939836  4904.660572  2676
3    2235  46681.709620  5023.950331  2235  46117.893960  5021.041988  2235
4    2298  46508.187554  4824.887888  2298  46012.860748  4829.198262  2298
5    2034  46710.121436  5004.841358  2034  46143.895280  4986.597729  2034
6    1993  46569.634220  4963.869298  1993  45987.921726  4949.468280  1993
7    1619  46633.303274  5151.313811  1619  46040.233477  5177.889597  1619
8    1691  47109.033116  4791.236815  1691  46555.640449  4813.184748  1691
9    1234  46537.263371  5062.067218  1234  45881.085089  5091.140571  1234
10   1368  46739.303363  5040.851553  1368  46104.956140  5045.664417  1368
11   1355  46282.362362  5229.280117  1355  45599.084133  5235.236100  1355
12   1468  45941.179837  5167.947136  1468  45319.506812  5190.302674  1468
13   1150  47798.581739  4492.670111  1150  47299.361739  4499.280547  1150
14    979  46173.777324  5262.625413   979  45571.188968  5284.334605   979
15    811  46846.750925  5192.984194   811  46103.639951  5210.679425   811
16    812  46455.386700  5346.862733   812  45646.793103  5453.585084   812
17    786  45614.604326  4995.393139   786  44699.533079  5032.105185   786
18    855  47911.535673  4597.798809   855  47356.789474  4637.546828   855
19    369  42331.775068  4930.758237   369  41078.761518  4987.313064   369
20    638  47513.813480  5449.730601   638  46795.130094  5496.606281   638
21    416  47480.050481  4576.732972   416  46887.043269  4600.874602   416
22    335  46289.647761  5188.640819   335  45412.259701  5170.323212   335

                                 DEN
             mean          std count          mean          std
CHR
1    46139.268682  5198.689570  2382  46014.023510  5204.535160
2    47136.490284  4889.041693  2676  47016.408072  4870.768426
3    46621.830425  5028.867037  2235  46493.918121  5031.758353
4    46510.265013  4823.356947  2298  46393.171018  4806.515494
5    46677.725172  5002.303409  2034  46545.753687  4977.546582
6    46530.521826  4977.477495  1993  46416.284496  4929.123929
7    46577.157505  5206.550745  1619  46414.869055  5200.739407
8    47052.567711  4810.729691  1691  46910.602011  4798.212707
9    46422.491086  5070.291962  1234  46260.160454  5058.661265
10   46620.809942  5036.939632  1368  46500.971491  5039.833383
11   46127.132103  5214.121926  1355  45993.104797  5209.658423
12   45874.200272  5169.299300  1468  45739.587875  5149.667901
13   47786.942609  4505.392991  1150  47661.884348  4482.068584
14   46090.262513  5276.537606   979  45966.830439  5216.701748
15   46675.974106  5223.185893   811  46566.692972  5190.125564
16   46248.986453  5423.573131   812  45974.150246  5440.662724
17   45326.386768  5010.334450   786  45121.702290  4978.020195
18   47874.760234  4625.666290   855  47731.378947  4620.346825
19   41854.243902  4944.709682   369  41352.886179  4990.280820
20   47321.920063  5466.749788   638  47159.873041  5448.825362
21   47428.776442  4602.139179   416  47231.079327  4573.818745
22   45924.949254  5159.398131   335  45647.462687  5163.320291

In [5]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/arcs_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [arc_var_esl_qc_idx], fmt='%d',
# )

### With Ancestral Allele Calls (72kb)

In [6]:
# Load the non-overlapping windows.
arc_var_df = af.load_windows('arcs_masked_aa', 'variant', 72)
arc_invar_df = af.load_windows('arcs_masked_aa', 'invariant', 72)
# Concatenate the two dataframes.
arc_winds_df = pd.concat([arc_var_df, arc_invar_df])
# Compute the mean and standard deviation per archaic.
arc_esl_winds_avg = np.mean(arc_winds_df[arc_list].to_numpy(), axis=0)
arc_esl_winds_std = np.std(arc_winds_df[arc_list].to_numpy(), axis=0)
print('AVG', arc_esl_winds_avg)
print('STD', arc_esl_winds_std)
# Extract the average effective sequence length per window.
arc_var_esl_winds = np.all(
    (arc_var_df[arc_list].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std))\
    & (arc_var_df[arc_list].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)), 
    axis=1,
)
arc_invar_esl_winds = np.all(
    (arc_invar_df[arc_list].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std))\
    & (arc_invar_df[arc_list].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)), 
    axis=1,
)
# Determine the indicies that meet the esl criteria.
arc_var_esl_qc_idx = np.where(arc_var_esl_winds)[0]
arc_invar_esl_qc_idx = np.where(arc_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', arc_var_esl_qc_idx.size)
print('INVAR', arc_invar_esl_qc_idx.size)
print('TOTAL', (arc_var_esl_qc_idx.size + arc_invar_esl_qc_idx.size))

AVG [44949.47824898 44340.00850354 44850.06307932 44710.56481557]
STD [10099.78824914 10036.1558132  10085.21973516 10066.38328233]
VAR 28696
INVAR 0
TOTAL 28696

In [7]:
# Subset out the windows that did not pass QC.
arc_var_qced_df = arc_var_df.iloc[arc_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_var_qced_df.groupby(['CHR'])[arc_list].agg(['count', 'mean', 'std'])

      ALT                              CHA                              VIN  \
    count          mean          std count          mean          std count
CHR
1    2314  46122.084702  5074.417474  2314  45465.889801  5113.546194  2314
2    2604  47048.456989  4775.173866  2604  46459.813364  4786.057491  2604
3    2178  46649.760790  4885.258956  2178  46085.552801  4884.012793  2178
4    2258  46386.041630  4761.858701  2258  45894.261736  4763.338132  2258
5    1983  46576.011094  4895.811067  1983  46016.764498  4869.962023  1983
6    1953  46468.572965  4855.087162  1953  45889.556580  4840.132627  1953
7    1569  46526.212874  5035.293348  1569  45939.616953  5069.924404  1569
8    1639  46925.248322  4675.295489  1639  46371.829164  4696.706155  1639
9    1208  46436.563742  4971.097041  1208  45784.073675  4990.954779  1208
10   1330  46594.123308  4955.320844  1330  45968.450376  4952.494527  1330
11   1310  46203.116794  5093.420671  1310  45518.516794  5110.412408  1310
12   1427  45981.859145  4996.606879  1427  45366.976174  5022.258179  1427
13   1140  47662.000877  4496.799751  1140  47164.097368  4496.258490  1140
14    943  46086.079533  5105.058156   943  45495.381760  5118.040897   943
15    787  46777.092757  5041.208561   787  46029.226175  5067.460210   787
16    780  46490.633333  5171.311652   780  45690.146154  5259.286490   780
17    765  45568.559477  4907.659323   765  44660.711111  4960.222315   765
18    835  47682.389222  4513.640235   835  47130.065868  4556.604251   835
19    318  42539.037736  4820.301627   318  41314.062893  4862.229410   318
20    620  47360.317742  5282.003579   620  46645.304839  5345.212003   620
21    406  47308.251232  4506.291910   406  46719.339901  4528.299037   406
22    329  46054.504559  5255.586700   329  45189.638298  5235.429406   329

                                 DEN
             mean          std count          mean          std
CHR
1    45999.480985  5075.024813  2314  45876.530251  5080.276694
2    46977.102535  4774.058326  2604  46858.402074  4756.885318
3    46590.593205  4892.636929  2178  46461.593205  4894.652817
4    46387.516829  4760.725566  2258  46271.575731  4744.856279
5    46546.575391  4890.604847  1983  46414.251135  4861.229943
6    46430.215566  4872.575347  1953  46314.110599  4828.132158
7    46471.629063  5088.561831  1569  46306.173996  5098.546230
8    46868.173887  4690.627090  1639  46734.912752  4691.732577
9    46321.797185  4970.836737  1208  46164.110927  4962.736000
10   46478.381203  4948.861589  1330  46361.574436  4957.169205
11   46051.810687  5083.036701  1310  45918.939695  5082.395044
12   45917.719692  5001.556771  1427  45784.733006  4983.060301
13   47650.784211  4505.785026  1140  47523.982456  4483.381250
14   46006.792153  5111.554727   943  45883.657476  5060.705512
15   46604.320203  5081.834935   787  46491.584498  5048.377998
16   46291.628205  5233.727770   780  46010.057692  5246.939028
17   45287.164706  4927.510922   765  45089.498039  4899.048947
18   47644.237126  4543.367612   835  47504.401198  4541.520096
19   42069.449686  4843.407546   318  41601.795597  4893.714789
20   47169.350000  5310.849790   620  47008.758065  5301.541021
21   47256.748768  4527.412229   406  47058.943350  4492.760446
22   45693.142857  5233.266262   329  45429.586626  5215.809806

In [8]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/arcs_masked_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [arc_var_esl_qc_idx], fmt='%d',
# )

## Single Archaic Datasets

### Denisovan Without Ancestral Allele Calls (72kb)

In [9]:
# Load the non-overlapping windows.
arc_var_df = af.load_windows('den_masked_no_aa', 'variant', 72)
arc_invar_df = af.load_windows('den_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
arc_winds_df = pd.concat([arc_var_df, arc_invar_df])
# Compute the mean and standard deviation per archaic.
arc_esl_winds_avg = np.mean(arc_winds_df['DEN'].to_numpy(), axis=0)
arc_esl_winds_std = np.std(arc_winds_df['DEN'].to_numpy(), axis=0)
print('AVG', arc_esl_winds_avg)
print('STD', arc_esl_winds_std)
# Extract the average effective sequence length per window.
arc_var_esl_winds = ((arc_var_df['DEN'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_var_df['DEN'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
arc_invar_esl_winds = ((arc_invar_df['DEN'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_invar_df['DEN'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
arc_var_esl_qc_idx = np.where(arc_var_esl_winds)[0]
arc_invar_esl_qc_idx = np.where(arc_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', arc_var_esl_qc_idx.size)
print('INVAR', arc_invar_esl_qc_idx.size)
print('TOTAL', (arc_var_esl_qc_idx.size + arc_invar_esl_qc_idx.size))

AVG 44556.680028110386
STD 10635.879969716942
VAR 26318
INVAR 4135
TOTAL 30453

In [10]:
# Subset out the windows that did not pass QC.
arc_var_qced_df = arc_var_df.iloc[arc_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_var_qced_df.groupby(['CHR'])['DEN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2237  46179.500224  5400.983924
2     2332  47141.372642  5111.844274
3     1945  46603.240617  5254.873030
4     1811  46520.659856  4927.193445
5     1841  46728.934818  5101.904829
6     1785  46490.177031  5119.870413
7     1495  46648.517057  5341.111312
8     1557  47079.928709  4931.064871
9     1074  46534.875233  5221.908011
10    1262  46759.791601  5168.348268
11    1272  46217.487421  5379.886522
12    1246  45826.540128  5335.318916
13    1062  47798.381356  4568.467346
14     859  46003.661234  5504.189812
15     719  46751.136300  5357.960423
16     769  46111.765930  5604.047672
17     700  45357.320000  5259.775944
18     752  47963.079787  4727.306518
19     314  40947.764331  5130.891965
20     614  47427.223127  5585.106726
21     359  47497.250696  4623.404605
22     313  46151.316294  5354.297262

In [11]:
# Subset out the windows that did not pass QC.
arc_invar_qced_df = arc_var_df.iloc[arc_invar_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_invar_qced_df.groupby(['CHR'])['DEN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2140  45365.040654  9096.229515
2     1863  47013.947397  7985.549070
3      132  47716.378788  7755.228459

In [12]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/den_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [arc_var_esl_qc_idx], fmt='%d',
# )
# np.savetxt(
#     f'../windowing/den_masked_no_aa/72kb_esl_qced_nonoverlapping_invariant_windows.txt.gz',
#     [arc_invar_esl_qc_idx], fmt='%d',
# )

### Altai Nean. Without Ancestral Allele Calls (72kb)

In [13]:
# Load the non-overlapping windows.
arc_var_df = af.load_windows('alt_masked_no_aa', 'variant', 72)
arc_invar_df = af.load_windows('alt_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
arc_winds_df = pd.concat([arc_var_df, arc_invar_df])
# Compute the mean and standard deviation per archaic.
arc_esl_winds_avg = np.mean(arc_winds_df['ALT'].to_numpy(), axis=0)
arc_esl_winds_std = np.std(arc_winds_df['ALT'].to_numpy(), axis=0)
print('AVG', arc_esl_winds_avg)
print('STD', arc_esl_winds_std)
# Extract the average effective sequence length per window.
arc_var_esl_winds = ((arc_var_df['ALT'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_var_df['ALT'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
arc_invar_esl_winds = ((arc_invar_df['ALT'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_invar_df['ALT'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
arc_var_esl_qc_idx = np.where(arc_var_esl_winds)[0]
arc_invar_esl_qc_idx = np.where(arc_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', arc_var_esl_qc_idx.size)
print('INVAR', arc_invar_esl_qc_idx.size)
print('TOTAL', (arc_var_esl_qc_idx.size + arc_invar_esl_qc_idx.size))

AVG 44804.46627558055
STD 10663.624101620531
VAR 20677
INVAR 9783
TOTAL 30460

In [14]:
# Subset out the windows that did not pass QC.
arc_var_qced_df = arc_var_df.iloc[arc_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_var_qced_df.groupby(['CHR'])['ALT'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     1789  46524.641699  5323.132609
2     1998  47230.896396  5073.218045
3     1684  47024.744062  5136.967821
4     1443  46459.297297  4995.583547
5     1344  46948.756696  5234.248027
6     1577  46802.703234  5074.793785
7     1304  46714.332055  5299.022716
8     1302  47512.373272  4743.938512
9      584  46944.970890  5312.485906
10    1029  47144.515063  5120.856760
11    1124  46390.726868  5507.921255
12     989  46140.208291  5259.763473
13     802  47900.711970  4712.301275
14     379  46120.662269  5541.074424
15     432  47638.224537  5111.922894
16     594  46323.291246  5457.143505
17     386  45506.391192  5237.960326
18     663  48350.742081  4708.943180
19     297  41395.905724  5343.428432
20     531  47858.661017  5530.564291
21     196  48327.698980  4739.244334
22     230  46375.047826  5607.210601

In [15]:
# Subset out the windows that did not pass QC.
arc_invar_qced_df = arc_var_df.iloc[arc_invar_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_invar_qced_df.groupby(['CHR'])['ALT'].agg(['count', 'mean', 'std'])

     count          mean           std
CHR
1     1730  45726.387283   9282.901027
2     2017  46789.171542   8271.516278
3     1530  47119.156209   7339.155348
4     1239  45614.589992   8186.322549
5     1364  46712.460411   8032.723635
6     1318  45702.317147   8037.700390
7      585  42203.774359  13410.694139

In [16]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/alt_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [arc_var_esl_qc_idx], fmt='%d',
# )
# np.savetxt(
#     f'../windowing/alt_masked_no_aa/72kb_esl_qced_nonoverlapping_invariant_windows.txt.gz',
#     [arc_invar_esl_qc_idx], fmt='%d',
# )

### Chagyrskaya Nean. Without Ancestral Allele Calls (72kb)

In [17]:
arc_var_df = af.load_windows('cha_masked_no_aa', 'variant', 72)
arc_invar_df = af.load_windows('cha_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
arc_winds_df = pd.concat([arc_var_df, arc_invar_df])
# Compute the mean and standard deviation per archaic.
arc_esl_winds_avg = np.mean(arc_winds_df['CHA'].to_numpy(), axis=0)
arc_esl_winds_std = np.std(arc_winds_df['CHA'].to_numpy(), axis=0)
print('AVG', arc_esl_winds_avg)
print('STD', arc_esl_winds_std)
# Extract the average effective sequence length per window.
arc_var_esl_winds = ((arc_var_df['CHA'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_var_df['CHA'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
arc_invar_esl_winds = ((arc_invar_df['CHA'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_invar_df['CHA'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
arc_var_esl_qc_idx = np.where(arc_var_esl_winds)[0]
arc_invar_esl_qc_idx = np.where(arc_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', arc_var_esl_qc_idx.size)
print('INVAR', arc_invar_esl_qc_idx.size)
print('TOTAL', (arc_var_esl_qc_idx.size + arc_invar_esl_qc_idx.size))

AVG 44189.595859123714
STD 10595.015711406359
VAR 19601
INVAR 10748
TOTAL 30349

In [18]:
# Subset out the windows that did not pass QC.
arc_var_qced_df = arc_var_df.iloc[arc_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_var_qced_df.groupby(['CHR'])['CHA'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     1805  45748.593906  5368.454294
2     1729  46704.721805  5101.170862
3     1575  46322.654603  5195.231364
4     1608  46009.056592  4888.725918
5     1302  46415.938556  5135.339884
6     1210  46227.454545  5106.133703
7     1067  46350.918463  5289.529024
8     1168  46601.837329  4933.637136
9      961  45876.915713  5176.943932
10    1023  46422.054741  5269.111907
11     816  46032.638480  5411.968770
12     773  45578.402329  5261.340166
13     755  47375.554967  4514.645697
14     622  45742.392283  5381.074084
15     578  46249.910035  5247.267343
16     469  45979.270789  5596.529227
17     614  44759.679153  5156.708751
18     390  47996.489744  4490.722582
19     240  40840.241667  5233.861035
20     453  46620.759382  5646.801224
21     258  47203.217054  4768.399017
22     185  45313.643243  5550.962828

In [19]:
# Subset out the windows that did not pass QC.
arc_invar_qced_df = arc_var_df.iloc[arc_invar_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_invar_qced_df.groupby(['CHR'])['CHA'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     1754  45014.815849  9523.155454
2     1731  46400.940497  8023.097317
3     1494  46129.886212  7553.379438
4     1444  44979.273546  8001.441348
5     1189  46274.264087  7628.736470
6     1149  45278.086162  8022.225919
7      935  44935.977540  9849.338574
8      983  46027.109868  7508.188354
9       69  44775.855072  7381.766534

In [20]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/cha_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [arc_var_esl_qc_idx], fmt='%d',
# )
# np.savetxt(
#     f'../windowing/cha_masked_no_aa/72kb_esl_qced_nonoverlapping_invariant_windows.txt.gz',
#     [arc_invar_esl_qc_idx], fmt='%d',
# )

### Vindija Nean. Without Ancestral Allele Calls (72kb)

In [21]:
# Load the non-overlapping windows.
arc_var_df = af.load_windows('vin_masked_no_aa', 'variant', 72)
arc_invar_df = af.load_windows('vin_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
arc_winds_df = pd.concat([arc_var_df, arc_invar_df])
# Compute the mean and standard deviation per archaic.
arc_esl_winds_avg = np.mean(arc_winds_df['VIN'].to_numpy(), axis=0)
arc_esl_winds_std = np.std(arc_winds_df['VIN'].to_numpy(), axis=0)
print('AVG', arc_esl_winds_avg)
print('STD', arc_esl_winds_std)
# Extract the average effective sequence length per window.
arc_var_esl_winds = ((arc_var_df['VIN'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_var_df['VIN'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
arc_invar_esl_winds = ((arc_invar_df['VIN'].to_numpy() >= (arc_esl_winds_avg - arc_esl_winds_std)) & (arc_invar_df['VIN'].to_numpy() <= (arc_esl_winds_avg + arc_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
arc_var_esl_qc_idx = np.where(arc_var_esl_winds)[0]
arc_invar_esl_qc_idx = np.where(arc_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', arc_var_esl_qc_idx.size)
print('INVAR', arc_invar_esl_qc_idx.size)
print('TOTAL', (arc_var_esl_qc_idx.size + arc_invar_esl_qc_idx.size))

AVG 44687.1038992623
STD 10678.663696598771
VAR 23933
INVAR 6532
TOTAL 30465

In [22]:
# Subset out the windows that did not pass QC.
arc_var_qced_df = arc_var_df.iloc[arc_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_var_qced_df.groupby(['CHR'])['VIN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     1993  46285.842950  5445.465841
2     2143  47237.945870  5083.626599
3     1749  46767.253859  5301.596204
4     1953  46581.272401  4928.233454
5     1578  46871.043726  5134.372736
6     1505  46675.631229  5154.506607
7     1326  46712.647059  5337.987825
8     1262  47089.454041  5036.530875
9     1077  46568.564531  5263.669779
10    1211  46812.457473  5260.924354
11    1091  46394.901008  5502.378740
12    1176  46096.176871  5331.885774
13     945  47913.983069  4595.925528
14     754  46131.412467  5463.506900
15     603  47166.897181  5341.205100
16     685  46312.229197  5604.793021
17     635  45215.615748  5246.933005
18     697  48011.734577  4851.421398
19     350  41308.017143  5300.260992
20     555  47441.738739  5523.418927
21     368  47679.788043  4599.323716
22     277  46115.657040  5442.522632

In [23]:
# Subset out the windows that did not pass QC.
arc_invar_qced_df = arc_var_df.iloc[arc_invar_esl_qc_idx]
# Show a summary of the QC'ed windows.
arc_invar_qced_df.groupby(['CHR'])['VIN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2015  45101.512159  9824.597562
2     2049  46840.602245  8200.595107
3     1594  46850.663739  7579.693441
4      874  45574.416476  7365.138949

In [24]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/vin_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [arc_var_esl_qc_idx], fmt='%d',
# )
# np.savetxt(
#     f'../windowing/vin_masked_no_aa/72kb_esl_qced_nonoverlapping_invariant_windows.txt.gz',
#     [arc_invar_esl_qc_idx], fmt='%d',
# )

## TGP + All Archaic Datasets

### Without Ancestral Allele Calls (742kb)

In [25]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_arcs_masked_no_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_arcs_masked_no_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df[arc_list].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df[arc_list].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = np.all(
    (tgp_var_df[arc_list].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std))\
    & (tgp_var_df[arc_list].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)), 
    axis=1,
)
tgp_invar_esl_winds = np.all(
    (tgp_invar_df[arc_list].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std))\
    & (tgp_invar_df[arc_list].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)), 
    axis=1,
)
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG [454461.16776678 448301.83250825 453466.16116612 452030.76155116]
STD [97219.13179505 96576.07382438 97218.20817278 97202.57135828]
VAR 3161
INVAR 0
TOTAL 3161

In [26]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])[arc_list].agg(['count', 'mean', 'std'])

      ALT                                CHA                               \
    count           mean           std count           mean           std
CHR
1     261  469300.049808  43227.453563   261  462723.896552  43992.286059
2     291  484197.786942  39806.899887   291  478192.484536  39951.503440
3     249  480513.341365  39617.826584   249  474555.927711  39971.910283
4     240  475868.375000  31696.768234   240  470585.408333  32105.763572
5     219  478058.351598  37431.150966   219  472128.881279  37367.156566
6     216  476130.578704  37537.665897   216  470293.361111  37388.780773
7     167  477340.011976  40619.157738   167  471455.227545  40730.499983
8     181  484542.281768  33320.076268   181  478857.690608  34098.860643
9     135  477330.518519  38182.499318   135  470422.562963  38842.442257
10    150  476505.000000  44679.501193   150  470057.833333  44682.758231
11    146  476425.561644  41283.276998   146  469536.136986  42042.648685
12    160  467665.168750  42913.192019   160  461292.837500  43641.167813
13    121  489763.842975  32516.611554   121  484431.000000  32658.624546
14    105  469826.933333  38648.353498   105  463874.428571  39102.867127
15     86  474109.139535  45586.992340    86  466451.895349  45589.588586
16     80  469353.587500  48816.697213    80  461161.712500  50228.456159
17     78  459719.858974  46472.678837    78  450651.166667  47730.637450
18     90  493517.422222  33691.939036    90  487750.666667  34273.164352
19     40  405802.800000  39423.609408    40  393241.250000  40807.064984
20     69  483640.362319  46928.545672    69  476252.869565  47456.257686
21     41  486986.365854  33670.082186    41  480861.560976  33627.693666
22     36  452348.444444  50629.626099    36  443361.250000  50320.558215

      VIN                                DEN
    count           mean           std count           mean           std
CHR
1     261  468009.601533  43567.195889   261  466775.697318  43727.659201
2     291  483555.714777  39874.605067   291  482318.676976  39727.936938
3     249  479730.843373  39685.917598   249  478106.871486  40308.894147
4     240  475515.991667  32411.817313   240  474459.037500  32230.849191
5     219  477635.461187  37537.074608   219  476300.146119  37447.164417
6     216  475802.703704  37604.224454   216  474674.435185  37169.903309
7     167  476858.215569  41090.720184   167  475227.694611  41358.388550
8     181  483969.701657  33750.726575   181  482576.497238  33873.176410
9     135  476134.155556  38662.499724   135  474423.081481  38830.495894
10    150  475258.860000  44604.714570   150  474077.953333  44584.296128
11    146  474869.479452  41266.336509   146  473549.561644  41570.547340
12    160  466842.918750  43251.766685   160  465551.737500  43302.167598
13    121  489426.314050  32827.116114   121  488084.214876  32715.546669
14    105  469210.219048  38754.252822   105  467796.552381  38973.234796
15     86  472270.244186  45681.586787    86  471167.255814  45728.294575
16     80  467208.850000  49984.421046    80  464582.962500  50201.940331
17     78  456926.666667  47009.625667    78  454941.166667  47134.747779
18     90  493108.022222  33810.782313    90  491511.566667  34457.736487
19     40  401293.325000  40267.369125    40  396158.825000  40796.658482
20     69  481575.173913  46989.509630    69  479929.971014  46800.755914
21     41  486467.048780  34313.618489    41  484480.853659  33841.053102
22     36  448325.388889  51116.394480    36  445684.972222  50617.561021

In [27]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_arcs_masked_no_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### Without Ancestral Allele Calls (72kb)

In [28]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_arcs_masked_no_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_arcs_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df[arc_list].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df[arc_list].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = np.all(
    (tgp_var_df[arc_list].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std))\
    & (tgp_var_df[arc_list].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)), 
    axis=1,
)
tgp_invar_esl_winds = np.all(
    (tgp_invar_df[arc_list].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std))\
    & (tgp_invar_df[arc_list].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)), 
    axis=1,
)
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG [44849.43316    44240.99271477 44751.35153288 44608.23472538]
STD [10494.19811375 10415.27647401 10471.25280003 10453.63384715]
VAR 29515
INVAR 0
TOTAL 29515

In [29]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])[arc_list].agg(['count', 'mean', 'std'])

      ALT                              CHA                              VIN  \
    count          mean          std count          mean          std count
CHR
1    2382  46228.515533  5208.571616  2382  45569.301847  5236.827067  2382
2    2677  47175.895032  4888.938420  2677  46581.724692  4902.667076  2677
3    2237  46642.805543  5027.854712  2237  46079.591864  5024.202410  2237
4    2298  46469.916884  4821.404327  2298  45975.002611  4825.759479  2298
5    2036  46670.299116  5009.521019  2036  46105.038802  4990.781673  2036
6    1993  46531.078274  4961.095052  1993  45949.792273  4946.837912  1993
7    1620  46588.688889  5153.732527  1620  45995.611111  5181.150070  1620
8    1690  47066.240828  4785.165343  1690  46513.379290  4807.177319  1690
9    1234  46498.808752  5059.396434  1234  45843.222853  5088.393100  1234
10   1369  46707.751644  5040.270374  1369  46073.934989  5045.202521  1369
11   1355  46244.776384  5225.917209  1355  45561.940959  5231.835724  1355
12   1468  45905.382153  5164.798094  1468  45284.156676  5186.982710  1468
13   1151  47764.829713  4492.593192  1151  47266.319722  4499.692975  1151
14    979  46136.113381  5259.908072   979  45534.126660  5281.643877   979
15    811  46807.516646  5188.997823   811  46065.188656  5206.667410   811
16    812  46414.903941  5339.757253   812  45608.540640  5449.066992   812
17    787  45589.881830  4999.465876   787  44676.179161  5037.024207   787
18    855  47872.867836  4594.551357   855  47318.447953  4634.326826   855
19    371  42261.105121  4939.947087   371  41007.690027  4998.649758   371
20    638  47444.473354  5461.359565   638  46727.333856  5507.451859   638
21    416  47437.588942  4572.856192   416  46845.040865  4596.728735   416
22    336  46275.991071  5199.976217   336  45400.077381  5182.863494   336

                                 DEN
             mean          std count          mean          std
CHR
1    46103.963476  5195.281445  2382  45978.552897  5201.075521
2    47101.648487  4886.743879  2677  46981.681360  4868.823757
3    46583.295932  5032.408666  2237  46455.270451  5035.252295
4    46472.047868  4819.892330  2298  46354.600087  4803.050698
5    46638.036837  5007.980942  2036  46506.007859  4982.599262
6    46491.913698  4974.744830  1993  46377.501254  4926.391350
7    46532.240741  5209.548184  1620  46369.427778  5204.413901
8    47009.854438  4804.713586  1690  46867.736095  4791.933280
9    46384.169368  5067.570088  1234  46221.601297  5056.066470
10   46589.565376  5036.644343  1369  46469.383492  5039.635911
11   46089.559410  5210.851871  1355  45955.261993  5206.317094
12   45838.482970  5166.153367  1468  45703.380109  5146.473317
13   47753.925282  4506.217819  1151  47628.133797  4482.549045
14   46052.847804  5273.928980   979  45928.847804  5214.111565
15   46636.937115  5219.194122   811  46527.488286  5186.118278
16   46209.550493  5418.098445   812  45935.003695  5435.520593
17   45302.213469  5015.107989   787  45098.049555  4983.719011
18   47836.081871  4622.289887   855  47692.507602  4616.927704
19   41781.371968  4957.575948   371  41282.477089  4999.944733
20   47254.048589  5476.403919   638  47093.114420  5458.825873
21   47386.512019  4598.098086   416  47188.557692  4570.052649
22   45910.145833  5168.165268   336  45635.568452  5177.073198

In [30]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_arcs_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

## TGP + Single Archaic Datasets

### TGP + Denisovan Without Ancestral Allele Calls (742kb)

In [31]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_den_masked_no_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_den_masked_no_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['DEN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['DEN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 451785.9282572842
STD 97752.5147852619
VAR 3186
INVAR 0
TOTAL 3186

In [32]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['DEN'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      264  466248.571970  44792.790333
2      292  482548.339041  39847.351532
3      251  477125.948207  41629.489079
4      241  473983.597510  33013.269620
5      222  476425.932432  38664.959000
6      217  474155.820276  37872.199174
7      169  476097.396450  41870.360693
8      181  482581.690608  33874.305744
9      136  474971.477941  39203.861933
10     151  473289.397351  45489.462651
11     147  474038.870748  41845.335313
12     162  464294.969136  44491.878404
13     121  488087.710744  32716.104889
14     106  468527.113208  39504.898729
15      87  469859.712644  47078.823014
16      81  465634.604938  50767.028955
17      80  452459.225000  49087.246350
18      90  491515.222222  34458.273750
19      40  396162.225000  40797.217723
20      69  479934.246377  46801.042310
21      41  484484.804878  33841.283756
22      38  450952.947368  54187.849697

In [33]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_den_masked_no_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Denisovan Without Ancestral Allele Calls (72kb)

In [34]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_den_masked_no_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_den_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['DEN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['DEN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44520.870584101416
STD 10628.173401536731
VAR 30454
INVAR 0
TOTAL 30454

In [35]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['DEN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2465  46043.172008  5422.398293
2     2757  46984.932535  5077.629318
3     2304  46491.211372  5229.947563
4     2348  46372.011925  4937.034287
5     2093  46589.074056  5146.200639
6     2048  46370.327148  5127.088622
7     1673  46420.092050  5393.466322
8     1745  46975.045845  4980.174537
9     1272  46284.982704  5252.627697
10    1416  46588.432910  5231.927533
11    1410  46077.549645  5432.057602
12    1506  45690.950863  5328.444081
13    1180  47707.077119  4608.796297
14    1024  45917.330078  5510.230513
15     838  46528.539379  5407.435479
16     837  45936.314217  5607.982628
17     820  45089.382927  5257.099888
18     883  47824.116648  4771.413778
19     395  40902.870886  5108.215766
20     663  47269.663650  5594.816154
21     422  47297.317536  4626.643399
22     355  45866.008451  5465.983056

In [36]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_den_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Denisovan With Ancestral Allele Calls (742kb)

In [37]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_den_masked_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_den_masked_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['DEN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['DEN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 450281.15299640986
STD 95873.81902740178
VAR 3146
INVAR 0
TOTAL 3146

In [38]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['DEN'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      259  464133.652510  44281.217986
2      285  480181.336842  39577.955868
3      249  476285.626506  40879.523926
4      241  472829.141079  33416.044234
5      219  474654.228311  38616.259642
6      215  472781.483721  38423.487733
7      167  474187.934132  41995.590147
8      181  479958.591160  35546.680053
9      135  471246.918519  39610.090670
10     150  471267.686667  45670.282645
11     146  470131.054795  43434.807502
12     163  462353.141104  46206.178123
13     120  484754.008333  33296.430811
14     107  467044.887850  40560.980589
15      86  468202.825581  47496.887055
16      78  463622.782051  49643.378494
17      77  451911.844156  49130.548390
18      90  489883.477778  34805.657049
19      32  395152.093750  44112.087961
20      70  477084.100000  48328.693176
21      41  481030.341463  33743.439344
22      35  452277.085714  52970.210251

In [39]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_den_masked_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Denisovan With Ancestral Allele Calls (72kb)

In [40]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_den_masked_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_den_masked_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['DEN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['DEN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['DEN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['DEN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44597.44297335663
STD 10208.010839838424
VAR 29594
INVAR 0
TOTAL 29594

In [41]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['DEN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2393  45923.100710  5275.734946
2     2687  46858.716785  4948.765103
3     2240  46453.819643  5067.544271
4     2305  46226.166594  4860.741356
5     2034  46482.345133  4989.340838
6     2001  46307.576212  4978.132799
7     1623  46338.577942  5267.711120
8     1695  46823.391150  4857.769984
9     1242  46190.126409  5124.155326
10    1373  46385.009468  5137.571855
11    1368  45931.261696  5326.826528
12    1472  45664.739810  5201.747634
13    1162  47495.042169  4592.808014
14     983  45891.481180  5297.387948
15     811  46471.030826  5224.002050
16     803  45871.856787  5419.568295
17     790  45048.470886  5094.088716
18     860  47568.203488  4678.323692
19     346  41123.179191  5058.870346
20     649  47061.565485  5517.173259
21     411  47001.401460  4583.944788
22     346  45694.615607  5446.337551

In [42]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_den_masked_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Altai Nean. Without Ancestral Allele Calls (742kb)

In [43]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_alt_masked_no_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_alt_masked_no_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['ALT'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['ALT'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 454216.54507971415
STD 97775.6356186113
VAR 3195
INVAR 0
TOTAL 3195

In [44]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['ALT'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      265  468458.554717  44536.581554
2      293  484659.529010  40052.642598
3      253  480119.067194  41230.775084
4      241  475379.813278  32546.558092
5      221  477859.420814  38390.542219
6      217  475615.304147  38226.835886
7      169  477070.786982  41794.227047
8      182  483889.357143  34399.466548
9      137  478408.211679  38917.872565
10     150  476510.773333  44680.335692
11     147  476942.993197  41608.423651
12     162  466390.783951  44166.043309
13     122  490278.811475  32868.379855
14     106  470596.235849  39260.813819
15      87  472832.287356  46873.742874
16      81  468175.592593  49674.120124
17      80  457292.850000  48361.514161
18      90  493522.611111  33692.927569
19      42  403715.214286  39600.739806
20      71  485533.943662  47584.255966
21      42  488534.166667  34726.658154
22      37  455003.783784  52460.912578

In [45]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_alt_masked_no_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Altai Nean. Without Ancestral Allele Calls (72kb)

In [46]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_alt_masked_no_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_alt_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['ALT'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['ALT'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44770.14138956475
STD 10653.587883259566
VAR 30458
INVAR 0
TOTAL 30458

In [47]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['ALT'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2456  46253.145765  5411.867576
2     2765  47228.219530  5102.631626
3     2309  46656.696405  5242.226863
4     2342  46454.062767  4950.911745
5     2095  46746.680191  5193.763999
6     2042  46577.791381  5128.628567
7     1674  46660.712067  5357.282078
8     1737  47147.843408  4953.690020
9     1274  46561.083203  5261.651153
10    1417  46804.661962  5255.550492
11    1400  46297.099286  5420.544707
12    1508  45984.677056  5337.307032
13    1188  47912.510943  4623.756340
14    1013  46153.020731  5493.576352
15     836  46816.772727  5384.933939
16     838  46347.902148  5563.133234
17     812  45460.814039  5242.943431
18     890  48060.837079  4775.347210
19     427  41328.447307  5206.208236
20     664  47599.697289  5621.057261
21     421  47528.268409  4619.530070
22     350  46219.842857  5498.090441

In [48]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_alt_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Altai Nean. With Ancestral Allele Calls (742kb)

In [49]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_alt_masked_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_alt_masked_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['ALT'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['ALT'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 452683.5136702568
STD 95803.4537059149
VAR 3145
INVAR 0
TOTAL 3145

In [50]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['ALT'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      260  466203.369231  44176.618813
2      284  482492.950704  38982.513925
3      250  477424.488000  41309.206664
4      240  473925.070833  32556.942829
5      218  476073.885321  38362.157488
6      214  474776.453271  38003.644936
7      168  475558.976190  42198.183438
8      181  481908.878453  34844.504067
9      135  474113.148148  38902.428890
10     150  473669.026667  45779.886107
11     146  472990.013699  43117.359387
12     162  465078.703704  45223.690870
13     120  486420.225000  33112.970694
14     105  467522.209524  39265.012830
15      86  471181.569767  47229.349971
16      79  466899.177215  49385.513012
17      78  455627.653846  48765.428825
18      90  491875.900000  34019.228023
19      36  399347.722222  41934.539439
20      69  479762.202899  48001.314744
21      41  483515.829268  33494.559263
22      33  453513.212121  48490.024203

In [51]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_alt_masked_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Altai Nean. With Ancestral Allele Calls (72kb)

In [52]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_alt_masked_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_alt_masked_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['ALT'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['ALT'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['ALT'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['ALT'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44846.47026539974
STD 10220.48824472767
VAR 29601
INVAR 0
TOTAL 29601

In [53]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['ALT'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2387  46121.926267  5263.786022
2     2683  47079.486769  4948.922854
3     2237  46660.173000  5035.188899
4     2307  46381.769831  4877.064361
5     2034  46616.186824  5037.790693
6     2000  46514.177000  4998.785821
7     1618  46467.941904  5230.890101
8     1696  47009.258844  4855.791333
9     1249  46446.944756  5172.721254
10    1375  46649.515636  5143.700243
11    1355  46213.767528  5283.410450
12    1470  45875.136735  5205.604695
13    1165  47702.705579  4571.205292
14     978  46098.246421  5321.758288
15     813  46726.715867  5245.491153
16     809  46281.740420  5425.246178
17     789  45364.357414  5134.926960
18     866  47845.341801  4647.621520
19     377  41525.636605  5163.159102
20     639  47322.643192  5450.948580
21     415  47328.869880  4638.253424
22     339  45921.533923  5448.255671

In [54]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_alt_masked_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Chagyrskaya Nean. Without Ancestral Allele Calls (742kb)

In [55]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_cha_masked_no_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_cha_masked_no_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['CHA'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['CHA'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 447937.46276449575
STD 97390.83271403892
VAR 3186
INVAR 0
TOTAL 3186

In [56]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['CHA'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      262  462328.648855  44383.896387
2      292  478422.041096  40067.278844
3      251  473575.454183  41309.232825
4      241  470128.232365  32833.203465
5      223  471728.775785  39265.174562
6      217  470641.230415  37642.240821
7      170  471584.217647  42074.973410
8      181  478864.381215  34100.608636
9      136  470970.772059  39212.765950
10     150  470063.353333  44683.573962
11     147  470033.142857  42321.507394
12     162  460030.123457  44841.936428
13     122  484926.426230  32971.499957
14     106  464639.452830  39695.999510
15      87  465133.988506  46974.895844
16      81  459892.617284  51222.873673
17      80  448185.562500  49616.020396
18      90  487756.133333  34273.945186
19      40  393246.250000  40807.543617
20      70  477211.871429  47783.266461
21      42  482345.476190  34569.662260
22      36  443366.805556  50321.702597

In [57]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_cha_masked_no_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Chagyrskaya Nean. Without Ancestral Allele Calls (72kb)

In [58]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_cha_masked_no_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_cha_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['CHA'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['CHA'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44154.53777333297
STD 10587.42697669884
VAR 30348
INVAR 0
TOTAL 30348

In [59]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['CHA'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2447  45606.740499  5409.887949
2     2762  46634.595945  5101.534069
3     2308  46098.869151  5221.391056
4     2337  45974.836115  4932.064923
5     2094  46189.520057  5164.013137
6     2051  46024.888347  5120.862896
7     1668  46051.044365  5352.370200
8     1736  46598.497696  4960.002017
9     1267  45917.122336  5247.807614
10    1409  46129.049681  5226.562363
11    1397  45670.448819  5389.022111
12    1498  45308.051402  5319.110935
13    1177  47327.394223  4621.346024
14    1011  45472.489614  5507.438840
15     834  46121.564748  5367.917382
16     837  45623.624851  5638.123417
17     807  44707.543990  5210.711796
18     880  47423.686364  4783.350961
19     400  40591.202500  5142.742349
20     658  46895.879939  5608.225046
21     420  46915.014286  4629.513053
22     350  45402.011429  5458.807101

In [60]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_cha_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Chagyrskaya Nean. With Ancestral Allele Calls (742kb)

In [61]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_cha_masked_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_cha_masked_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['CHA'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['CHA'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 446428.7087244616
STD 95552.01356811354
VAR 3134
INVAR 0
TOTAL 3134

In [62]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['CHA'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      257  460173.630350  43902.380218
2      286  476310.531469  39925.816030
3      247  472174.684211  40242.344082
4      241  468199.456432  33730.012298
5      219  470547.146119  38588.013971
6      214  468994.336449  37880.052921
7      169  470086.928994  42507.073774
8      180  475885.727778  35393.570107
9      135  467265.162963  39556.552770
10     149  466772.979866  45511.672900
11     146  466135.369863  43833.459778
12     161  458252.173913  45561.394211
13     120  481151.125000  33251.013093
14     105  461611.685714  39794.005028
15      85  464838.047059  45965.854559
16      78  460134.217949  49695.358146
17      77  447866.948052  49250.645624
18      89  485501.786517  34267.989401
19      33  390499.121212  43910.137423
20      69  472457.304348  48507.214428
21      41  477459.658537  33403.035595
22      33  444304.969697  48750.049894

In [63]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_cha_masked_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Chagyrskaya Nean. With Ancestral Allele Calls (72kb)

In [64]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_cha_masked_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_cha_masked_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['CHA'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['CHA'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['CHA'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['CHA'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44231.21255801256
STD 10168.74273436129
VAR 29488
INVAR 0
TOTAL 29488

In [65]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['CHA'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2380  45487.091597  5272.486986
2     2673  46523.721287  4909.565311
3     2234  46115.899284  5005.653205
4     2301  45902.119079  4857.752748
5     2032  46064.117618  5002.584871
6     2001  45952.001999  4962.866142
7     1620  45965.820370  5231.691317
8     1700  46438.738824  4901.401674
9     1234  45801.256888  5109.742566
10    1372  46039.143586  5107.882465
11    1354  45540.802068  5282.119902
12    1461  45265.748118  5176.700180
13    1157  47161.449438  4560.170318
14     973  45560.465570  5283.471069
15     811  45980.621455  5249.768775
16     807  45658.004957  5453.949859
17     784  44617.775510  5117.799588
18     855  47221.837427  4631.106165
19     345  40881.857971  5065.447762
20     641  46757.542902  5461.933934
21     414  46717.246377  4645.412305
22     339  45231.265487  5384.269850

In [66]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_cha_masked_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Vindija Nean. Without Ancestral Allele Calls (742kb)

In [67]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_vin_masked_no_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_vin_masked_no_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['VIN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['VIN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 453097.5559219566
STD 98046.7034263633
VAR 3198
INVAR 0
TOTAL 3198

In [68]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['VIN'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      265  467119.871698  44935.730777
2      294  483577.091837  40747.931104
3      251  478749.450199  41037.739902
4      240  475521.141667  32412.335083
5      222  476874.896396  39328.709355
6      217  475279.640553  38315.682182
7      169  476585.538462  42243.909504
8      183  483638.349727  35228.174948
9      137  477198.671533  39357.948959
10     150  475264.460000  44605.539248
11     147  475365.693878  41554.145387
12     163  464942.423313  45071.801237
13     122  489925.131148  33143.000383
14     106  469952.811321  39310.088164
15      87  470954.287356  47057.780351
16      82  466978.097561  51512.210554
17      81  453239.197531  49861.070352
18      90  493113.033333  33811.730916
19      42  399188.357143  40418.524063
20      71  483494.746479  47678.948172
21      42  487933.261905  35189.654659
22      37  450968.594595  52894.640924

In [69]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_vin_masked_no_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Vindija Nean. Without Ancestral Allele Calls (72kb)

In [70]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_vin_masked_no_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_vin_masked_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['VIN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['VIN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44651.658929391735
STD 10671.031205241909
VAR 30469
INVAR 0
TOTAL 30469

In [71]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['VIN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2468  46161.138979  5425.726541
2     2759  47118.713664  5098.845899
3     2309  46601.342573  5238.519077
4     2348  46478.891823  4967.094593
5     2087  46657.342118  5179.376319
6     2040  46512.899020  5133.011374
7     1661  46585.804335  5359.176961
8     1746  47130.734250  4997.170111
9     1280  46470.636719  5305.276005
10    1420  46701.833099  5262.784207
11    1416  46233.938559  5453.363865
12    1512  45893.369709  5354.138789
13    1172  47796.271331  4609.264976
14    1018  46077.906680  5526.879163
15     843  46740.567023  5441.220990
16     837  46226.740741  5612.580230
17     811  45287.235512  5243.340114
18     890  48001.725843  4818.547703
19     416  41129.423077  5226.183854
20     660  47363.242424  5618.774487
21     422  47493.428910  4650.599783
22     354  46012.031073  5493.142333

In [72]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_vin_masked_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Vindija Nean. With Ancestral Allele Calls (742kb)

In [73]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_vin_masked_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_vin_masked_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['VIN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['VIN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 451433.3417057687
STD 96439.81660258546
VAR 3151
INVAR 0
TOTAL 3151

In [74]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['VIN'].agg(['count', 'mean', 'std'])

     count           mean           std
CHR
1      260  465663.865385  44299.904317
2      285  481417.666667  39686.186891
3      250  477398.744000  40943.224628
4      241  473866.941909  33526.912850
5      219  475966.511416  38785.832878
6      214  474460.126168  38094.294657
7      168  475073.494048  42636.820125
8      180  480969.411111  35100.052603
9      135  472921.933333  39407.928806
10     150  472420.326667  45728.088020
11     147  471960.074830  43423.073682
12     162  464312.000000  45405.197392
13     120  486085.308333  33417.562972
14     107  468386.299065  40511.025631
15      85  468353.035294  46965.859593
16      79  464748.227848  50641.951044
17      78  452818.538462  49443.147738
18      89  490828.876404  33806.491067
19      35  396144.028571  42760.725924
20      71  479660.112676  48747.601825
21      42  484549.452381  35152.425226
22      34  452435.117647  51051.876284

In [75]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_vin_masked_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### TGP + Vindija Nean. With Ancestral Allele Calls (72kb)

In [76]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_vin_masked_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_vin_masked_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['VIN'].to_numpy(), axis=0)
tgp_esl_winds_std = np.std(tgp_winds_df['VIN'].to_numpy(), axis=0)
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = ((tgp_var_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
tgp_invar_esl_winds = ((tgp_invar_df['VIN'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['VIN'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)))
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 44730.01733173208
STD 10241.607979162914
VAR 29620
INVAR 0
TOTAL 29620

In [77]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['VIN'].agg(['count', 'mean', 'std'])

     count          mean          std
CHR
1     2397  46024.607843  5280.699923
2     2681  46999.231257  4941.480614
3     2244  46585.835116  5063.785519
4     2304  46336.851562  4885.932390
5     2039  46573.512016  5054.419891
6     2001  46453.377811  5012.011596
7     1609  46417.246737  5247.148930
8     1689  46943.947898  4850.619974
9     1240  46319.700806  5132.763156
10    1379  46583.949964  5141.958983
11    1370  46162.849635  5309.961239
12    1479  45817.640974  5243.656594
13    1159  47652.706644  4584.278884
14     988  46067.920040  5388.102342
15     812  46542.570197  5275.317940
16     811  46248.512947  5467.235772
17     787  45209.561626  5130.741691
18     859  47727.513388  4667.829386
19     364  41331.923077  5168.734239
20     647  47164.799073  5536.541738
21     415  47324.043373  4630.707191
22     346  45857.942197  5490.623166

In [78]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_vin_masked_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

## TGP Only Datasets

### Without Ancestral Allele Calls (742kb)

In [79]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_mod_no_aa', 'variant', 742)
tgp_invar_df = af.load_windows('tgp_mod_no_aa', 'invariant', 742)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['HUM'].to_numpy())
tgp_esl_winds_std = np.std(tgp_winds_df['HUM'].to_numpy())
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = (tgp_var_df['HUM'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['HUM'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std))
tgp_invar_esl_winds = (tgp_invar_df['HUM'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['HUM'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)) 
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 741114.2028423772
STD 275.364211610457
VAR 3273
INVAR 0
TOTAL 3273

In [80]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['HUM'].agg(['count', 'mean', 'std'])

     count           mean         std
CHR
1      279  741104.716846   95.573066
2      307  741083.426710  102.640739
3      251  741071.306773  103.566508
4      229  741030.707424  101.584668
5      224  741063.995536  109.603505
6      203  741044.246305   96.916359
7      184  741078.739130  112.466473
8      173  741097.526012  105.543751
9      135  741059.703704  105.778145
10     162  741055.333333  107.936835
11     167  741077.479042  101.724636
12     165  741055.151515   97.753773
13     112  741029.794643   93.022921
14     111  741038.630631   96.132856
15      98  741061.948980  117.701735
16      82  741081.695122  141.884555
17      94  741059.531915  117.337919
18      97  741060.556701  126.518935
19      53  740999.264151   95.576419
20      77  741100.857143  106.115964
21      34  740956.176471   80.199928
22      36  741018.388889  115.467813

In [81]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_mod_no_aa/742kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )

### Without Ancestral Allele Calls (72kb)

In [82]:
# Load the non-overlapping windows.
tgp_var_df = af.load_windows('tgp_mod_no_aa', 'variant', 72)
tgp_invar_df = af.load_windows('tgp_mod_no_aa', 'invariant', 72)
# Concatenate the two dataframes.
tgp_winds_df = pd.concat([tgp_var_df, tgp_invar_df])
# Compute the mean and standard deviation per archaic.
tgp_esl_winds_avg = np.mean(tgp_winds_df['HUM'].to_numpy())
tgp_esl_winds_std = np.std(tgp_winds_df['HUM'].to_numpy())
print('AVG', tgp_esl_winds_avg)
print('STD', tgp_esl_winds_std)
# Extract the average effective sequence length per window.
tgp_var_esl_winds = (tgp_var_df['HUM'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_var_df['HUM'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std))
tgp_invar_esl_winds = (tgp_invar_df['HUM'].to_numpy() >= (tgp_esl_winds_avg - tgp_esl_winds_std)) & (tgp_invar_df['HUM'].to_numpy() <= (tgp_esl_winds_avg + tgp_esl_winds_std)) 
# Determine the indicies that meet the esl criteria.
tgp_var_esl_qc_idx = np.where(tgp_var_esl_winds)[0]
tgp_invar_esl_qc_idx = np.where(tgp_invar_esl_winds)[0]
# Print a summary of the windows that passed QC.
print('VAR', tgp_var_esl_qc_idx.size)
print('INVAR', tgp_invar_esl_qc_idx.size)
print('TOTAL', (tgp_var_esl_qc_idx.size + tgp_invar_esl_qc_idx.size))

AVG 71914.02022348324
STD 32.923713614372076
VAR 31678
INVAR 0
TOTAL 31678

In [83]:
# Subset out the windows that did not pass QC.
tgp_var_qced_df = tgp_var_df.iloc[tgp_var_esl_qc_idx]
# Show a summary of the QC'ed windows.
tgp_var_qced_df.groupby(['CHR'])['HUM'].agg(['count', 'mean', 'std'])

     count          mean        std
CHR
1     2752  71913.919331  14.430068
2     2963  71912.683091  14.519718
3     2419  71912.068210  14.713612
4     2249  71908.601601  14.080365
5     2173  71910.924988  14.689085
6     2001  71909.271364  14.344435
7     1762  71910.946084  15.138390
8     1666  71911.310324  14.648977
9     1319  71910.594390  15.119905
10    1551  71910.745326  14.085050
11    1592  71911.954774  14.691265
12    1588  71910.574307  14.147932
13    1120  71908.463393  13.756354
14    1061  71909.373233  14.330802
15     943  71910.400848  14.796801
16     844  71911.156398  15.618348
17     894  71910.060403  14.714785
18     861  71910.130081  14.745020
19     502  71906.097610  14.922034
20     712  71913.676966  15.433889
21     348  71902.931034  13.285639
22     358  71907.689944  16.153204

In [84]:
# Export the QC'ed windows indicies.
# np.savetxt(
#     f'../windowing/tgp_mod_no_aa/72kb_esl_qced_nonoverlapping_variant_windows.txt.gz',
#     [tgp_var_esl_qc_idx], fmt='%d',
# )